.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#", "data-target" => "#modalVer", "data-toggle" => "modal"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
.col-md-4.col-sm-6
    .user-card
        .media
            .media-left
                .avatar.avatar-lg.avatar-circle
                    = image_tag('user.png', :class => "img-responsive img-circle")
            .media-body
                %h5.media-heading Usuario Nombre
                %small.media-meta cargo del usuario
                %br
                %a.text-success{:href => "#"} Ver
                %a.text-danger{:href => "#"} Eliminar
                %a.text-warning{:href => "#"} Actualizar
%nav.search-results-navigation
%ul.pagination.m-0
    %li
        %a{:href => "#", "aria-label" => "Previous"}    
            %span{"aria-hidden" => "true"}
                %i.fa.fa-arrow-left
    %li
        %a{:href => "#"} 1
    %li
        %a{:href => "#"} 2
    %li
        %a{:href => "#"} 3
    %li 
        %a{:href => "#"} 4
    %li
        %a{:href => "#", "aria-label" => "Next"}
            %span{"aria-hidden" => "true"}
                %i.fa.fa-arrow-right