%section#section-gallery.section.section-padding
  .container-fluid
    .row
      .col-md-12
        .section-heading.text-center.wow.fadeInUp.animated{:style => "visibility: visible;"}
          %h2 Envento y Galeria
          %p Lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
    .row
      .loop.owl-carousel.owl-theme.owl.center.owl-loaded
        %div
          = image_tag('gallery/img1.jpg', class:'img-responsive')
        %div
          = image_tag('gallery/img2.jpg', class:'img-responsive')
        %div
          = image_tag('gallery/img3.jpg', class:'img-responsive')
        %div
          = image_tag('gallery/img2.jpg', class:'img-responsive')
        %div
          = image_tag('gallery/img1.jpg', class:'img-responsive')
        %div
          = image_tag('gallery/img3.jpg', class:'img-responsive')