!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CRM login | Inelec
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag '/administrator/css/material-design-iconic-font/dist/css/material-design-iconic-font.css'
    = stylesheet_link_tag '/administrator/css/animate.css/animate.min.css'
    = stylesheet_link_tag '/administrator/css/bootstrap.css'
    = stylesheet_link_tag '/administrator/css/core.css'
    = stylesheet_link_tag '/administrator/css/misc-pages.css'

  %body{:class => "simple-page"}

    = yield


